/nebula/app/win/NebulaData/
dist
debug
__debug_bin.exe*
/nebula/app/win/node_modules/
/nebula/app/win/package.json
/nebula/app/win/package-lock.json
win.exe
android/app/src/main/jniLibs/arm64-v8a/libnebula_arm64.so
nebula/app/win/nebula.exe
.trae/